*{
    font-style: Roboto;
}

.logo{
    display: flex;
    font-size: 10px;
}
div>h1{
    color: orange;
}
.nav{
    display: inline;
    float: right;
    margin-right: 200px;
    justify-content: space-between;
    font-size: 20px;
}